html,
body {
  width: 400px;
  height: 300px;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

#taglessnumber {
	margin: 3% 145px;
}

#taglessurl {
	margin: 3% 10px;
	width: 350px;
}

#popup-content {
	
}

button {
  border: none;
  width: 50%;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #e5f2f2;
}

button:hover {
  background-color: #cff2f2;
}

button[type="reset"] {
  background-color: #fbfbc9;
}

button[type="reset"]:hover {
  background-color: #eaea9d;
}

button.removebtn {
	background-color: red;
	color: white;
	margin: 3% auto;
	padding: 4px;
}

input {
  margin: 3% auto;
  padding: 4px;
}